body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding:0;
    margin:0;
    font-family: Titillium Web, sans-serif;
    color: white;
}

body {
    background-color: #59ace5;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    color: black;
    padding: 0 5% 1% 5%;
}

h1 {
    font-size: 40px;
    color: white;
    line-height: 48px;
    display: inline;
    margin: 10px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-size: 20px;
    color: #999;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding:10px 5%;
}


.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

hr {
    color: white;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

.role {
    display: inline-block;
}

#skills-h3 {
    color: white;
    display: none;
}

.orange {
    background-color: #f5ae23;
}

.orange-text {
    color: #59ACE5;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.gray {
    background-color: #e9f4fc;
    color: black;
    padding-bottom: 10px;
    clear:both;
}

.white {
    background-color: white;
    color: black;
    padding-bottom: 10px;
    clear:both;
}

.skill {
    padding: 5px 0 5px 0;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    border-radius : 5px;
    width: 20%;
}

#skills {
    /*background-color: lightblue;*/
    justify-content: space-around;
}

.red {
    background-color: #ef652a;
    color: white;

}

.lightblue {
    background-color: #2f87c1;
    color: white;
}

.yellow {
    background-color: gold;
    color: black;
}

.blue {
    background-color: #0769ad;
    color: white;
}

.purple {
    background-color: #5c4282;
    color: white;
}

.lightred {
    background-color: #EE6666;
    color: white;
}

.green {
    background-color: #20B075;
    color: white;
}


#lets-connect h2 {
    color: white;
}

/* TODO: Replace with image later */
#header {
    background-color: #59ace5;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    width: 175px;
    /*border: 5px solid white;*/
    /*padding: 5px;*/
    padding: 0;
    border-radius: 50%;
    outline-radius: 50%;
    display: none;
    /*box-shadow: 10px 10px 5px #2f2929;*/
}

img {
    padding: 10px;
}

.icon {
    padding: 0;
}

.pane {
    border-top: 1px #59ace5 solid;
}

span {
    padding: 5px;
}

#map-title:hover {
    text-decoration: underline;
}

.title:hover {
    text-decoration: underline;
}

#lets-connect {
    color: white;
    background-color: #59ace5;
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }

    .skill {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        text-align: center;
    }
}


#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    margin-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}

.hidden {
    display: none;
}